h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: royalblue;
    font-size: 20px;
    text-align: center;
}
p {
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: brown;
}
ol {
    color: crimson;
}
hr{ 
    color: navy;
    width: 80% ;
}
* {
    background-color: whitesmoke;
}
#footer{
    font-style: normal;
    background-color: olivedrab;
    font-size: large;
    font-weight: bold;
    text-align: center;
    color: blue;
}

